<%= tabnav :helps %>
<h1>Welcome to Scutwork</h1>
<h2>What is Shifts?</h2>
Shifts is where you manually create your shifts.<br/>
After a shift is created, remember to add the relevant pay(s)
<h2>What is Templates</h2>
A template is a standart shift you define.
<h3>How to create a templated</h3>
You define a start and end time.<br/>
Also what pay is normally used<br/>
You also define where it takes place.
<h2>What is Pays</h2>
It's where you define the different salaries<br/>
you earn.<br/>
You also define what extra pays you can earn.
<h3>How to create a pay</h3>
You give it a name<br/>
Then you set the rate.<br/>
Please remember that 160,66kr is written as 16066.
<h2>What is Places</h2>
It's the different hospitals/facilitates you work at.
<h3>How to create a place </h3>
You simply give it a name
<h1>What is my pay?</h1>
<a href='http://www.laeger.dk/portal/page/portal/LAEGERDK/Laegerdk/Y_L/L%C3%B8n'>Look here</a>
<h2>Time ?</h2>
So my shift start at 08:15 and stops at 1645. How shold I write this?<br/>
08:15 -> 825 and 1645 -> 1675.
Since 15 minuts is the same as 25% of an hour (25) and<br/>
45 minuts is the same as 75% of an hour.
<h2>Courses?</h2>
When participating in a course it is hourned with 7,4 hours, no matter if it's a 09-12 course or a 08-20 course.<br/>
What to do? -> creat a shift template, that starts at 0800 and ends at 15,24 this is 7,4 hour.