<%= tabnav :helps %>
<h1>Scutwork development history</h1>
<ul>
  <li>2009-december</li>
    <ul>
      <li>Stable for usage</li>
      <li>Crated icalendar feed to import shifts in to google calendar or an other calendar program</li>
      <li>Danish translation for 95% of the program, except for history</li>
    </ul>
  <li>2010 Spring</li>
  <ul>
    <li>Standart payments</li>
    <li>Export to Excel working</li>
    <li>Easier overview/report of shifts and payments</li>
  </ul>
  <li>
    2010 Summer
  </li>
  <ul>
    <li>Updates report view</li>
    <li>Update of standart pay for KBU doctors</li>
    <li>New Feed option, enabled you to create tempoary feeds for X number of days (ical or xls)</li>
  </ul>

  <li>Future</li>
    <ul>
      <li>Other ?</li>
    </ul>
</ul>